<html>
<head>
	<meta charset="ISO-8859-1">
	<link rel="stylesheet" type="text/css" href="CSS/arquivo.css" media="screen" />
	<script src='JS/validacaoEntradaDeDados.js'></script>

	<title>Carteira Web Lancamento de venda</title>


	<ul>
		<li><a href="principal.php">Inicio</a></li>
		<li><a href="PagLancamentoDeCompra.php">Compra</a></li>
  		<li><a href="PagLancamentoDeVenda.php">Venda</a></li>
 	 	<li><a href="retirarValor.php">Retirar Valor</a></li>
  		<li><a href="adicionarValor.php">Adicionar Valor</a></li>
  		<li><a href="relatorioAnaliseGrafico.php">Relatorio Geral</a></li>
  		<li><a href="sair.php">Sair</a></li>
	</ul>
	<hr>

</head>
</html>