<!DOCTYPE html>
<html>
<head>
<title>Carteira WEB</title>

</head>
<body>
<div  >
		<h1 >Recuperar Senha </h1>
		<form action="../controller/recuperarSenha.php" method="get">
 		 	Pergunta de seguranca <br>
 		 	<select name="perguntaSeguranca">
			  <option value= "Qual nome do seu cachorro?">Qual nome do seu cachorro?</option>
			  <option value= "Qual Nome de sua professora de infancia?">Qual Nome de sua professora de infancia?</option>
			  <!--
			  <option value="saab">Saab</option>
			  <option value="mercedes">Mercedes</option>
			  <option value="audi">Audi</option>
				-->
			</select><br><br>
			Resposta: <input type="text" name="respostaSeguranca"><br><br>
  			Email: <input type="Email" name="email"><br><br>

  			<br>
  			<input type="submit" value="Enviar Senha" >
		</form>
	</div>







</body>
</html>