<!--
<html>
<head>
	<meta charset="ISO-8859-1">
	<link rel="stylesheet" type="text/css" href="CSS/arquivo.css" media="screen" />
	<script src='JS/validacaoEntradaDeDados.js'></script>

	<title>Carteira Web Lancamento de venda</title>


	<ul>
		<li><a href="principal.php">Inicio</a></li>
		<li><a href="PagLancamentoDeCompra.php">Compra</a></li>
  		<li><a href="PagLancamentoDeVenda.php">Venda</a></li>
 	 	<li><a href="retirarValor.php">Retirar Valor</a></li>
  		<li><a href="adicionarValor.php">Adicionar Valor</a></li>
  		<li><a href="relatorioAnaliseGrafico.php">Relatorio Geral</a></li>
  		<li><a href="sair.php">Sair</a></li>
	</ul>
	<hr>

</head>
</html>

-->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="CSS/menu.css" rel="stylesheet">
<!--<link rel="stylesheet" type="text/css" href="CSS/arquivo.css" media="screen" />-->

<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src='JS/validacaoEntradaDeDados.js'></script>

<div class="nav-side-menu">
    <div class="brand">Carteira WEB</div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
  
        <div class="menu-list">
  
            <ul id="menu-content" class="menu-content collapse out">
                <li>
                  <a href="principal.php">
                  <i class="fa fa-dashboard fa-lg"></i> Inicio
                  </a>
                </li>

                <li  data-toggle="collapse" data-target="#products" class="collapsed active">
                  <a href="PagLancamentoDeCompra.php"><i class="fa fa-gift fa-lg"></i> Compra <span class="arrow"></span></a>
                </li>
                <!--
                <ul class="sub-menu collapse" id="products">
                    <li class="active"><a href="#">CSS3 Animation</a></li>
                    <li><a href="#">General</a></li>
                    <li><a href="#">Buttons</a></li>
                    <li><a href="#">Tabs & Accordions</a></li>
                    <li><a href="#">Typography</a></li>
                    <li><a href="#">FontAwesome</a></li>
                    <li><a href="#">Slider</a></li>
                    <li><a href="#">Panels</a></li>
                    <li><a href="#">Widgets</a></li>
                    <li><a href="#">Bootstrap Model</a></li>
                </ul>
				-->

                <li data-toggle="collapse" data-target="#service" class="collapsed">
                  <a href="PagLancamentoDeVenda.php"><i class="fa fa-globe fa-lg"></i> Venda <span class="arrow"></span></a>
                </li> 
                <!-- 
                <ul class="sub-menu collapse" id="service">
                  <li>New Service 1</li>
                  <li>New Service 2</li>
                  <li>New Service 3</li>
                </ul>
				-->

                <li data-toggle="collapse" data-target="#new" class="collapsed">
                  <a href="retirarValor.php"><i class="fa fa-car fa-lg"></i> Retirar Valor <span class="arrow"></span></a>
                </li>
                <!--
                <ul class="sub-menu collapse" id="new">
                  <li>New New 1</li>
                  <li>New New 2</li>
                  <li>New New 3</li>
                </ul>
				-->


				<li data-toggle="collapse" data-target="#new" class="collapsed">
                  <a href="adicionarValor.php"><i class="fa fa-car fa-lg"></i> Adicionar Valor <span class="arrow"></span></a>
                </li>

                <li data-toggle="collapse" data-target="#new" class="collapsed">
                  <a href="relatorioAnaliseGrafico.php"><i class="fa fa-car fa-lg"></i>Relatorio Geral <span class="arrow"></span></a>
                </li>
                <li data-toggle="collapse" data-target="#new" class="collapsed">
                  <a href="sair.php"><i class="fa fa-car fa-lg"></i>Sair <span class="arrow"></span></a>
                </li>

                <!--
                 <li>
                  <a href="#">
                  <i class="fa fa-user fa-lg"></i> Profile
                  </a>
                  </li>

                 <li>
                  <a href="#">
                  <i class="fa fa-users fa-lg"></i> Users
                  </a>
                </li>
            	-->
            </ul>
            <br>
            <br>
            <img src="Imagens/cartao.png">
            <br>
            <br>
            <h4>Desenvolvido por <a href ="https://www.linkedin.com/in/thiago-milton-ferreira-752447110/">Thiago Ferreira.</a></h4>
            <h5>Tel: (31) 9 9951-3976 </h5>
     </div>
</div>