<!DOCTYPE html>
<html>
<head>
<title>Carteira WEB</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="CSS/arquivo.css" media="screen" />

</head>
<body>

	
	<div class="container">
		<div class="box">
			<h1 >Carteira Web</h1>
			<form action="../controller/principal.php" method="post" class="form-horizontal">
	 		 	Usuario: <input type="text" name="nome"><br><br>
	  			Senha: <input type="password" name="senha"><br><br>
	  			<input type="submit" value="Entrar" class="btn btn-success" >
	  			<a href="esqueciMinhaSenha.html"> Esqueci minha senha. </a>
	  			

	  			
			</form>
			<br>

		</div>


	</div>
</body>
</html>